body {
	font-family: "Roboto", sans-serif;
	min-height: 100vh;
  
  }
  
  /*main styles*/
  
  .right-padding {
	padding-right: 0;
  }
  
  .no-padding {
	padding: 0;
  }
  
  .max-viewport {
	min-height: 100vh;
  }
  
  /*navbar */
  
  .navbar {
	border-bottom: double;
	
  }
  
  .navbar .navbar-brand {
	color: white;
  }
  
  .navbar {
	background-color: black;
  }
  
  .navbar .nav-link,
  .navbar .icons {
	color: #687384;
  }
  
  .navbar .nav-link:hover,
  .navbar .icons:hover {
	color: rgb(26, 102, 243);
  }
  
  .navbar .icon {
	position: relative;
  }
  
  .navbar .icon::after {
	content: "";
	position: absolute;
	top: -5px;
	left: 10px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #ef5350;
  }
  
  /*sidebar*/
  
  .sidebar {
	background-color: #4f56;
  }
  
  .sidebar .nav-link,
  .sidebar .navbar-brand {
	color: #687384;
  }
  
  .sidebar .nav-link:hover,
  .sidebar .navbar-brand:hover {
	color: rgb(28, 63, 219);
  }
 
  /*inform-card*/
  
  .inform-card .card-1 {
	background-color: #403f4c;
  }
  
  .inform-card .card-2 {
	background-color: #efbcd5;
  }
  
  .inform-card .card-3 {
	background-color: #f9dc5c;
  }
  
  .inform-card .card-4 {
	background-color: #3185fc;
  }
  
  .inform-card .card .body-icon {
	font-size: 60px;
	transform: rotate(315deg);
	color: #f15025;
  }
  
  .inform-card .card .fa,
  .inform-card .card a {
	color: #f15025;
  }
  
  .inform-card .card a:hover {
	text-decoration: none;
	color: #fff;
  }
  
  .inform-card .card {
	color: #fff;
  }
  
  .inform-card .card-footer {
	background: rgba(0, 0, 0, 0.5);
  }
  /* Criando Modal
  body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  }*/
  .button{
    background-color: coral;
    padding: 1em 2em;
    color: #fff;
   border: 0;
  }
  .button:hover{
    background: #333;
  }
   .modal{
     background: #ef5350;
   /* display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: unset;
    background-color: rgba(0, 0, 0, 0.5)
    */
  }
  .content-modal{
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 1%;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 17%);
      animation-name: abrirModal;
      animation-duration: 1s;
  }

.content-modal .closebtn{
  color: #ccc;
  float: right;
  font-size: 30px;
}
.content-modal .closebtn:hover, .closebtn:focus{
color: #000;
text-decoration: none;
cursor: pointer;
}
@keyframes abrirModal {
  from{opacity: 0;}to{opacity: 1;}
}
/*Steps*/
.modal .content-modal .steps {
  position: relative;
  display: block;
  width: 100%;
}
.tablists {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
}
.steps>ul>li {
  display: table-cell;
  width: auto;
  vertical-align: top;
  text-align: center;
  position: relative;
}
.steps > ul > li, .actions > ul > li {
  float: none;
}
.steps>ul>li:after {
  right: 0;
}
.steps>ul>li:after, .steps>ul>li:before {
  content: '';
  z-index: 9;
  display: block;
  position: absolute;
}






/*-------------------------------------------------*/


.steps>ul>li a {
  position: relative;
  margin-bottom: 20px;
  display: block;
}
.steps .current-info {
  position: absolute;
  left: -99999px;
}
.steps>ul>li:before {
  left: 0;
  content: '';
  z-index: 9;
  display: block;
  position: absolute;
}
.steps>ul>li.disabled a, .steps>ul>li.disabled a:focus, .steps>ul>li.disabled a:hover {
  color: #999;
  cursor: default;
}

.steps .current a,  .steps .current a:hover, .steps .current a:active {

  color: #fff;
  cursor: default;
}
/*Style card total*/
#total{
  padding-top: 49px;
}
@media (min-width: 992px){
.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}
}
.col-lg-3 .row {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.col-lg-3 .row .col-6 {
  flex: 0 0 auto;
  width: 50%;
}
/*Form dentro do Modal*/
#modalSimples .content-modal form{
  background:#4aa4af;
  width: 100%;
  margin: 0px auto;
  padding:  15px 40px 40px 40px;
}
.modal > .content-modal > .modal-body > form > .tab p{
  font-size: 20px;
  margin: 0 0 10px 0;
}
#modalSimples .content-modal input{
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #aaa;
  box-sizing: border-box;
}
#modalSimples .content-modal .index-btn-wrapper{
  display: flex;
}
#modalSimples .content-modal .index-btn{
  margin: 20px 15px 0 0;
  background: #04aa6d;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
border: none;
font-size: 17px;
transition: 0.3s;

}

#modalSimples .content-modal .index-btn:hover{
  opacity: 0.8;
}
/*#modalSimples .content-modal #step-1{
  opacity: 1;
}*/
#modalSimples .content-modal .step{
display: inline-block;
height: 30px;
background: green;
color: white;
border-radius: 15px;
width: 197px;
line-height: 30px;
margin: 0 2px;
opacity: 0.25;
}
